<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
    <title>{{ page.title }} | John Nixon's Taxidermy</title>
    {{#if page.description}}
    <meta name="description" content="{{ page.description }}"/>
    {{/if}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-85898107-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-85898107-2');
    </script>

</head>
<body class="dark">
    <!-- Preloader Start -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- Preloader Ends -->
    <!-- Wrapper Starts -->
    <div class="wrapper">
